.ghost-button {
  border: 1px solid #000;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 120px;
  transition: 0.3s;
  font-family: "source sans pro", sans-serif;

  &:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }
}

.ghost-button-white {
  color: #fff;
  border: 1px solid #fff;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
