/*
home page carousel
*/

.carousel-control-next,
.carousel-control-prev {
	width: 7%;
}

.carousel-item {
	height: 75vh;
	/* min-height:800px; */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	img.fifty {
		width: 64px;
		height: auto;
		position: absolute;
		z-index: 1;
		top: 0px;
		right: 20px;

		@media (min-width: 480px) {
			&{
				width: 128px;
			}
		}

		@media (min-width: 768px) {
			&{
				top: 72px;
			}
		}

		@media (min-width: 992px) {
			&{
				top: 0px;
				width: 170px;
			}
		}

		@media (min-aspect-ratio: 1000/640) and (min-width: 768px) and (max-width: 1368px) {
			&{
				width: 80px;
			}
		}
	}

	p {
		font-size: 1.4em;

		&:last-of-type {
			padding-bottom: 1.25em;
		}

		@media (min-aspect-ratio: 1200/640) {
			& {
				font-size: 1.2em;
			}
		}

		@media (max-height: 600px) {
			& {
				font-size: 1.3rem;
			}
		}
	}

	@media (max-width: 768px) {
		&{
			/* height: calc(100vh - 100px); */
			height: 100vh;
			min-height:800px;
		}
	}

	@media (min-width:769px) and (max-width: 992px) {
		&{
			height: 90vh;
		}
	}

	@media (min-width: 1600px) {
		&{
			height: 100vh;
		}
	}
}

.carousel-content-container {
	width: 50%;
	height: 100%;
	padding: 2rem 0 2rem 8rem;
	z-index: 1100;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	@media (max-width: 992px) {
		&{
			width: 50%;
			padding-left: 2rem;
		}
	}

	@media (max-width: 768px) {
		&{
			width: 80%;
			padding-top: 8em;
			padding-right: 2rem;
			height: auto;
			display: block;
			margin: 0 auto;
			float: none;
		}
	}

	@media (max-width: 576px) {
		&{
			width: 100%;
			padding-top: 8rem;
			padding-right: 2rem;
		}
	}


	@media (max-width: 576px) and (max-height: 600px) {
		.carousel-content-container {
			padding-top: 2rem;
		}
	}
}

.carousel-content{
	p {
		width: 80%;

		@media (max-width: 576px) and (max-height: 600px) {
			&{
				width: 100%;
			}
		}
	}
}

.carousel-image-container {
	width: 50%;
	height: 100%;
	float: left;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 100%;
	}

	@media (max-width: 992px) {
		&{
			width: 50%;
		}
	}

	@media (max-width: 768px) {
		&{
			width: 100%;
			position: absolute;
			bottom: 0;
			height: auto;
			float: none;
		}
	}
}

.all-products-item {
	background-color: white;
}

.carousel-indicators{
	li {
		background-color: #008fbc;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		cursor: pointer;
		&.active {
			background-color: #1a3a88;
		}
	}
}

.carousel-control-prev-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008fbc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008fbc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-title {
	font-size: 5.5em;
	font-weight: bold;
	padding-bottom: 0.25em;

	@media (min-aspect-ratio: 1200/640) {
		& {
			font-size: 4em;
		}
	}
	@media (max-width: 992px) {
		& {
			font-size: 3.5em;
		}
	}
}

.this-is-real-item {
	background-image: url("../../img/women-smile-lg.jpg");
	background-position: 50% 0%;

	p {
		padding-left: 15px;
	}

	@media (max-width: 768px) {
		& {
			background-image: url("../../img/women-smile-tall.jpg");
			.carousel-content-container {
				position: absolute;
				bottom: 0;
			}
		}
	}

	@media (max-width: 768px) and (max-height: 600px) {
		& {
			.carousel-content-container {
				bottom: auto;
				top: 2rem;
				
				.carousel-content {
					p {
							width: 90%;
					}
				}
			}
		}
	}

	img {
		height: 200px;
		/*
		@include min-aspect-ratio(1200,640) {
			height:100px;
		}
		*/

		@media (max-width: 1200px) {
			&{
				height: 150px;
			}
		}

		@media (max-height: 480px) {
			&{
				height: 100px;
			}
		}

		@media (min-aspect-ratio: 1000/640) and (min-width: 768px) {
			&{
				height: 100px;
			}
		}
	}
}

.this-is-innovation-item {
	background-color: #dce4e6;
	background-size: contain !important;
	background-position: right bottom !important;
	background-image: url("../../img/this-is-innovation-lg.jpg");
}

.all-products-item{
	.carousel-content-container{
	}
	.carousel-image-container{
		bottom:10%;
		img{
		}
	}
	@media (min-width: 768px) {
		&{
			.carousel-content-container{
				width:50%;
			}
			.carousel-image-container{
				bottom:0;
				img{
					position:relative;
					left:-15%;	
				}
			}
		}
	}
}
