.form {
  width: 100%;
  padding-bottom: 3rem;

  .intro {
    width: 100%;
    display: flex;
    padding-bottom: 2rem;

    p {
      font-weight: bold;

      &.col1 {
        width: 40%;
        font-weight: bold;
        padding-right: 1rem;
      }

      &.col2 {
        width: 60%;
      }
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 0.5rem0 2rem 2rem 2rem;

      .intro {
        display: inline-block;

        p.col1,
        p.col2 {
          width: 100%;
          margin-bottom: 2rem;
        }
      }
    }
  }

  .response {
    font-weight: bold;
    font-size: 2rem;
  }

  .formRow {
    width: 100%;
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    label {
      width: 40%;
      color: #008fbc;
      text-align: left;
      padding: 0.5rem 0;

      @media (max-width: 768px) {
        & {
          width: 100%;
        }
      }
    }

    .input {
      width: 60%;
      border: 1px #008fbc solid;
      padding: 0.5rem 1rem;
      color: #008fbc;

      &.short {
        width: 200px;
      }

      @media (max-width: 768px) {
        & {
          width: 100%;
        }
      }
    }

    .error {
      color: #008fbc;
      width: 100%;
      padding-left: 40%;
      margin-top: 0.5rem;
      text-align: left;

      @media (max-width: 768px) {
        & {
          padding-left: 0;
        }
      }
    }

    textarea {
      resize: none;
    }

    &.buttonRow {
      justify-content: flex-end;

      .btn {
        color: #008fbc;
        border-color: #008fbc;
        background-color: transparent;
        cursor: pointer;
        border-radius: 0;
        
        &:hover {
          background-color: #008fbc;
          color: #fff;
        }
      }
    }
  }
}








