h1, h2, h3 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

p {
  font-family: "source sans pro", sans-serif, sans-serif;
}

.xl-heading {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

.regular-p {
  font-size: 1.1rem;
}

.large-p {
  font-size: 1.3rem;
}

.light-text {
  font-weight: 300;
}

a {
  text-decoration: underline;
  color: black;
}
a:hover {
  cursor: pointer;
}
