@font-face {
  font-family: bebas;
  src: url("../../fonts/BebasNeue_Regular.otf");
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../../fonts/BebasNeueBook.woff2") format("woff2"), url("../../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeue-Thin.woff2") format("woff2"), url("../../fonts/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeueBold.woff2") format("woff2"), url("../../fonts/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeueRegular.woff2") format("woff2"), url("../../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeueLight.woff2") format("woff2"), url("../../fonts/BebasNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
