/*
footer
*/

/*
footer social media icons
*/

.social-link-container {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 2em;
}

.social-link {
	display: inline;
	margin: 0 0.5em;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.terms-section {
	width: 100%;
	font-size: 0.8em;
	display: block;
	text-align: center;
	padding: 0 2rem 2rem 2rem;
	a {
		display: inline-block;
	}
	.copyright {
		width: 100%;
		display: inline-block;
		padding: 1rem 2rem 0 1rem;
	}
}
