.full-width-video {
  background-image: url("../../img/video-placeholder.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 350px;

  &:after {
    content: "";
    background: linear-gradient(to top, #404040 0%, black 100%);
    position: absolute;
    z-index: 1600;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    cursor: pointer;

    &:after {
      opacity: 0.4;
    }

  }

  @media (min-width: 576px) {
    & {
      min-height: 355px;
    }
  }
  @media (min-width: 768px) {
    & {
      min-height: 405px;
    }
  }
  @media (min-width: 992px) {
    & {
      min-height: 505px;
    }
  }
  @media (min-width: 1200px) {
    & {
      height: 605px;
    }
  }
  @media (min-width: 1600px) {
    & {
      height: 100vh;
    }
  }
}


