/*
grid: our history, our science
3 column (33.3%/33.3%/33.3%) decorative layout
*/

/*
our history grid
12 items: 3 column x 4 row
*/

.panel-grid-container {
  padding: 0 20px;

  .flex-row,
  .flex-row-reverse {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

.panel-item {
  color: white;
  min-height: 450px;
  position: relative;
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: 576px) {
    & {
      min-height: 325px;
      padding: 3.5em;
    }
  }

  @media (min-width: 768px) {
    & {
      min-height: 375px;
    }
  }

  @media (min-width: 992px) {
    & {
      min-height: 325px;
    }
  }

  @media (min-width: 1200px) {
    & {
      min-height: 375px;
    }
  }
}

.date {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.5em;
  line-height: 1;
  font-family: oswald;
}

.history-item-1 {
  background-image: url("../../img/pearl-drops-history.jpg");
}

.history-item-2 {
  background-color: #a731b6;

  &:after {
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;

    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border-top-color: #a731b6;

    @media (min-width: 576px) {
      & {
        top: 100%;
        right: auto;
        bottom: auto;
        left: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        z-index: 1800;
        border-top-color: #a731b6;
      }
    }

    @media (min-width: 992px) {
      & {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-left-color: #a731b6;
        z-index: 1300;
      }
    }
  }
}

.history-item-3 {
  background-color: #008fbc;

  &:after {
    @media (max-width: 576px) {
      & {
        top: 100%;
        right: auto;
        bottom: auto;
        left: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        z-index: 1800;
        border-top-color: #008fbc;
      }
    }
    @media (min-width: 576px) and (max-width: 768px) {
      & {
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-right-color: #008fbc;
      }
    }
    @media (min-width: 768px) and (max-width: 992px) {
      & {
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-right-color: #008fbc;
      }
    }
    @media (min-width: 992px) {
      & {
        top: 100%;
        right: auto;
        bottom: auto;
        left: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        z-index: 1800;
        border-top-color: #008fbc;
      }
    }
  }
}


.history-item-4 {
  background-color: black;

  &:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #000;

    @media (min-width: 992px) {
      & {
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-right-color: #000;
      }
    }

  }
}

.history-item-5 {
  background-image: url("../../img/history-advert.jpg");
}

.history-item-6 {
  background-color: #4b9e8d;

  &:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #4b9e8d;
  }
}

.history-item-7 {
  background-color: #a731b6;

  &:after {
    @media (max-width: 576px) {
      & {
        top: 100%;
        right: auto;
        bottom: auto;
        left: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        z-index: 1800;
        border-top-color: #a731b6;
      }
    }
    @media (min-width: 576px) and (max-width: 768px) {
      & {
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-right-color: #a731b6;
      }
    }
    @media (min-width: 768px) and (max-width: 992px) {
      & {
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-right-color: #a731b6;
      }
    }
    @media (min-width: 992px) {
      & {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-left-color: #a731b6;
      }
    }
  }
}

.history-item-8 {
  background-color: #008fbc;

  &:after {
    @media (max-width: 992px) {
      & {
        top: 100%;
        right: auto;
        bottom: auto;
        left: 45%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        z-index: 1800;
        border-top-color: #008fbc;
      }
    }
    @media (min-width: 992px) {
      & {
        top: 50%;
        right: auto;
        bottom: auto;
        left: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-left-color: #008fbc;
      }
    }
  }
}

.history-item-9 {
  background-image: url("../../img/wedding.jpg");
}

.history-item-10 {
  background-color: #000;

  &:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #000;

    @media (min-width: 992px) {
      & {
        top: 50%;
        right: 100%;
        bottom: auto;
        left: auto;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 30px;
        margin-top: -30px;
        z-index: 1800;
        border-right-color: #000;
      }
    }
  }
}

.history-item-11 {
  background-image: url("../../img/small-smile.jpg");
}

.history-item-12 {
  background-color: #78a1bc;
}

/*
our science grid
9 items: 3 column x 3 row
*/

.panel-grid-science {
  margin-bottom: 5em;

  .panel-item {
    display: block;
    padding-bottom: 3em;
    
    hr {
      border-color: white;
      border-width: medium;
    }

    h3 {
      text-align: center;
      font-size: 2rem;
      padding-bottom: 1em;
    }

    .quote {
      font-size: 1.5rem;
      font-weight: 100;
      text-align: center;

      &:before {
        content: '"';
      }
      
      &:after {
        content: '"';
      }
    }
  }
}

.science-panel-1 {
  background-color: #000;
}

.science-panel-2 {
  background-color: #008fbc;
  background-image: url("../../img/charcoal.jpg");
}

.science-panel-3 {
  background-color: #008fbc;
}

.science-panel-4 {
  background-color: #1a3a88;
}

.science-panel-5 {
  background-color: #a731b6;
}

.science-panel-6 {
  background-image: url("../../img/water.jpg");
}

.science-panel-7 {
  background-image: url("../../img/perlite.jpg");
}

.science-panel-8 {
  background-color: #4b9e8d;
}

.science-panel-9 {
  background-color: #78a1bc;
}
