/*
page hero banner: our vision, our history, our science
*/

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;

  @media (min-width: 576px) {
    &{
      height: 80vh;
      display: flex;
      align-items: flex-start;
    }
  }
}

.about-hero {
  background-image: url("../../img/about-mobile.jpg");

  @media (min-width: 576px) {
    &{
      background-image: url("../../img/about-desktop.jpg");
      background-position: bottom center;
    }
  }
}

.science-hero {
  background-image: url("../../img/this-is-innovation-lg.jpg");
  background-position: bottom center;
}

.history-hero {
  background-image: url("../../img/our-history.jpg");
  background-position: bottom center;
  margin-bottom: 4rem;
}

.hero-content-container {
  width: 100%;
  padding-top: 10em;
  display: block;
  margin: 0 auto;

  h1 {
    margin-bottom: 0.5em;

    @media (max-height: 480px) {
      &{
        margin-bottom: 0.5rem;
      }
    }
  }

  p{
    font-size: 1.5rem;
    text-shadow: 0px 0px 15px white;

    @media (max-height: 480px) {
      &{
        font-size: 1.3rem;
      }
    }
  }

  @media (min-width: 576px) {
    &{
      text-shadow: none;
      margin: 0;
      padding-top: 0;
      padding-left: 5%;
      align-self: center;
      width: 510px;
      p {
        font-size: 1.25rem;
        text-shadow: none;
      }
    }
  }

  @media (max-height: 600px) {
    &{
      padding-top: 2em;
    }
  }
}

#our-science{
  .hero-content-container {
    position: absolute;
    top: 10em;
    padding: 3em;

    @media (min-width: 576px) {
      &{
        top: 8em;
        background: none;
      }
    }

    @media (min-width: 768px) {
      &{
        top: 3em;
        background: none;
      }
    }

    @media (min-width: 992px) {
      &{
        top: 5em;
        background: none;
      }
    }
  }
}

#vision{
  .hero-content-container {
    position: absolute;
    top: 10em;
    padding: 3em;

    @media (min-width: 576px) {
      &{
        top: 8em;
        background: none;
      }
    }

    @media (min-width: 768px) {
      &{
        top: 3em;
        background: none;
      }
    }

    @media (min-width: 992px) {
      &{
        top: 5em;
        background: none;
      }
    }
  }
}

.white-bg-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5em 1em 1em 1em;
  margin: 1rem;

  @media (min-width: 768px) {
    &{
      background: none;
    }
  }
}

.blue-full-width-container {
  background-color: #78a1bc;
  color: white;
}

