/*
instagram feed block
*/
.social-section {
	background-color: #008fbc;
	color: white;
	p {
		font-size: 1.3em;
		padding-bottom: 1.5em;
	}
	h2 {
		font-size: 4em;
	}
}

/* Start of Instagram block */
.instagram {
	.block {
		position: relative;
		display: block;

		/* 1 - 20 generate prgogrammatically */
		&[data-show="1"]{
			.gram[data-id="1"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="2"]{
			.gram[data-id="2"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="3"]{
			.gram[data-id="3"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="4"]{
			.gram[data-id="4"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="5"]{
			.gram[data-id="5"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="6"]{
			.gram[data-id="6"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="7"]{
			.gram[data-id="7"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="8"]{
			.gram[data-id="8"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="9"]{
			.gram[data-id="9"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="10"]{
			.gram[data-id="10"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="11"]{
			.gram[data-id="11"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="12"]{
			.gram[data-id="12"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="13"]{
			.gram[data-id="13"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="14"]{
			.gram[data-id="14"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="15"]{
			.gram[data-id="15"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="16"]{
			.gram[data-id="16"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="17"]{
			.gram[data-id="17"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="18"]{
			.gram[data-id="18"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="19"]{
			.gram[data-id="19"] {
				opacity: 1;
				z-index: 100;
			}
		}

		&[data-show="20"]{
			.gram[data-id="20"] {
				opacity: 1;
				z-index: 100;
			}
		}

		.shim {
			float: left;
			width: 100%;
		}

		.gram {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			opacity: 0;
			z-index: 1;
			will-change: opacity;
			transition: opacity 1s ease-in-out;

			a {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}

			img.ig {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				will-change: all;
				transition: all 0.1s ease-in-out;
				z-index: 1;

			}

			&:hover img.ig {
				transform: scale(1.2);
			}

			img.btn-play {
				position: absolute;
				right: 1rem;
				top: 1rem;
				width: 51px;
				height: 36px;
				will-change: all;
				transition: all 0.1s ease-in-out;
				z-index: 2;
			}
		}
	}
}

