/* navigation/page header */

.navbar-nav {
  flex-direction: row;
}

.navbar .container {
  height: 100%;
}

.navbar-desktop {
  display: none;
}
@media (min-width: 992px) {
  .navbar-desktop {
    display: block;
    width: 100%;
    position: fixed;
    height: 70px;
    margin-top: -70px;
    z-index: 1900;
    color: black !important;
    background: white !important;
    box-shadow: 0px -2px 28px 5px rgba(0, 0, 0, 0.22);
  }
  .navbar-desktop .nav-link {
    margin-right: 1.5rem;
  }
  .navbar-desktop .last-nav-link {
    margin-right: 0;
  }
}
.navbar-desktop a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  #home .navbar-desktop {
    margin-top: -70px;
  }
}
@media (min-width: 1600px) {
  #home .navbar-desktop {
    margin-top: 0px;
  }
}

.brand-logo {
  position: relative;
  top: 25px;
  max-height: 102px;
  z-index: 1100;
}

.mobile-menu {
  position: fixed;
  float: left;
  color: black;
  z-index: 2000;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .unav {
  width: 100%;
  height: 0;
  background-color: #fff;
  display: flex;
  z-index: 2000;
  overflow: hidden;
  box-shadow: 0px -2px 28px 5px rgba(0, 0, 0, 0.22);
  transition-duration: 0.3s;
  position: relative;
}
.mobile-menu .unav .toggle-btn {
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 35.5px;
  transform: translateY(-50%);
}
.mobile-menu .unav .toggle-btn.show-menu {
  max-height: 30px;
}
.mobile-menu .unav .toggle-btn.close-menu {
  max-height: 40px;
}
.mobile-menu .unav nav {
  z-index: 2000;
  width: 100vw;
  min-height: 100%;
  height: auto;
  margin-top: 71px;
  transition-duration: 0.3s;
}
.mobile-menu .unav nav a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.mobile-menu img.mobile-nav-logo {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 8px;
  left: 10px;
}

body[data-mobile-menu=closed] .unav {
  height: 71px;
}
body[data-mobile-menu=closed] .unav .show-menu {
  display: block;
}
body[data-mobile-menu=closed] .unav .close-menu {
  display: none;
}
body[data-mobile-menu=closed] .unav nav {
  transform: translateX(100%);
}
body[data-mobile-menu=open] .mobile-menu {
  position: absolute;
}
body[data-mobile-menu=open] .unav {
  height: auto;
  min-height: 100%;
}
body[data-mobile-menu=open] .unav .show-menu {
  display: none;
}
body[data-mobile-menu=open] .unav .close-menu {
  display: block;
}
body[data-mobile-menu=open] .unav nav {
  transform: translateX(0px) !important;
}
body #page {
  display: block;
  width: 100%;
}
@media (max-width: 992px) {
  body[data-mobile-menu=open] #page {
    height: 0;
    overflow: hidden !important;
  }
}

.unav-item {
  width: 100%;
  height: 65px;
  padding-top: 20px;
  display: block;
  padding-left: 3rem;
}
.unav-item a {
  display: block;
}

.unav-dropdown {
  cursor: pointer;
  position: relative;
  padding: 25px 3rem;
}
.unav-dropdown a {
  transform: translateY(-3px);
}
.unav-dropdown:after {
  content: "";
  border: 7px solid transparent;
  border-left: 7px solid #fff;
  position: absolute;
  top: 25px;
  right: 3rem;
}
.unav-dropdown.is-active {
  height: auto;
}
.unav-dropdown.is-active:after {
  transform-origin: 25% 50%;
  transform: rotate(90deg);
}

.unav-dropdown-menu {
  display: none;
  background-color: #fff;
}
.unav-dropdown-menu a {
  display: block;
  transform: translateY(0);
}
.unav-dropdown-menu.is-active {
  display: block;
}

@media (min-width: 992px) {
  .unav nav {
    width: auto;
    position: relative;
    transform: none;
    padding: 0px;
    top: auto;
  }

  .unav-item {
    width: auto;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 10px 15px;
  }

  .unav-dropdown {
    padding-right: 30px;
  }

  .unav-dropdown:after {
    top: 17px;
  }

  .unav-dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0px;
    width: auto;
    min-width: 100px;
    padding: 5px 10px;
    border: 1px solid #1e1c23;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.indented-link {
  padding: 1rem 0;
  border-bottom: 1px solid white;
}
.indented-link a {
  padding-left: 0;
}
.indented-link:first-child {
  margin-top: 1rem;
  border-top: 1px solid white;
}

.sub-item {
  margin-left: 2em;
  font-weight: 100 !important;
}

.gray-blue-mobile-link {
  background-color: #78a1bc;
}

.green-mobile-link {
  background-color: #4b9e8d;
}

.dark-blue-mobile-link {
  background-color: #1a3a88;
  color: white;
}

.pink-mobile-link {
  background-color: #a731b6;
}

.gray-mobile-link {
  background-color: #78a1bc;
}

/* adds some margin below the link sets  */
.dropdown {
  margin: 0.5em 2em 0 1em;
}

.navbar-nav {
  height: 100%;
  line-height: 55px;
  margin: 0;
}

.navbar .dropdown-menu {
  border: none;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0;
  border: 0;
  font-weight: 100;
  padding-bottom: 2em;
}
.navbar .dropdown-menu li {
  list-style-type: none;
}

.title-link {
  border-bottom: 1px solid gray;
  font-weight: 600;
  padding-bottom: 1em;
}

.dropdown-toggle.active {
  text-decoration: underline;
}

/* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding: 0.5rem 0.5rem;
  margin: 0 0.25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {
  position: static;
}

.navbar .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 68px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.navbar .dropdown-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0px -2px 28px 5px rgba(0, 0, 0, 0.22);
}

/* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block !important;
}

.dropdown-links-container {
  min-width: 705px;
  padding-left: 1em;
}

.dropdown-pearldrops-links {
  display: inline-block;
  float: left;
  padding-left: 4rem;
  transform: translateX(-2px);
}
.dropdown-pearldrops-links:first-child {
  padding-left: 1rem !important;
}
@media (max-width: 1420px) {
  .dropdown-pearldrops-links:first-child {
    padding-left: 2rem !important;
  }
}
.dropdown-pearldrops-links ul {
  padding-left: 0;
}
