/*
our collection
*/

.rectangular-tile {
  padding: 1.5em;
}


.collection-item-container {
  border-bottom: 2.5em solid;
  padding-top: 7em;
  padding-bottom: 2em;
  max-width: 1920vw !important;
  overflow-x: hidden;
}

.review-container {
  display: inline;
}

.last-collection-item {
  border-bottom: 0;
}


.page-intro-container-collection {
	border-bottom: 2.5em solid #1a3a88;
	padding-bottom: 3em;
	max-width: 1920vw !important;

	.packs-group {
		padding: 2rem;
	}
}

.label-heading {
  font-family: "source sans pro", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;
}

.collection-product {
	display: block;
	margin: 0 auto;
	max-height: 400px;
	margin-bottom: 5em;

	@media (min-width: 768px) {
		&{
			max-height: 640px;
			margin-bottom: none;
		}
	}
}

.collection-social-link {
	padding-right: 0.25rem;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

.buy-group {
	position: relative;
	margin: 5rem 0;

	&.enabled{
		.popup-menu-wrap {
			transform: translateX(0);
			opacity: 1;
		}
	}

	a.ghost-button {
		float: left;
	}

	.popup-menu-wrap {
		float: left;
		position: relative;
		will-change: all;
		transition: all 0.3s ease-in-out;
		transform: translateX(100px);
		height: 3rem;
		opacity: 0;
		
		.popup-menu {
			margin-left: 26px;
			position: absolute;
			left: 0;
			top: 1.5rem;
			display: flex;
			flex-wrap: wrap;
			width: 300px;
			box-sizing: border-box;
			transform: translateY(-50%);
			background-color: #FFFFFF;
			box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

			.logo-wrap {
				float: left;
				padding: 1rem;
				width: 100px;
				height: 60px;
				box-sizing: border-box;
				text-align: center;

				img {
					width: 100%;
					height: auto;
					margin-left: auto;
					margin-right: auto;

					&.mh {
						width: auto;
						height: 100%;
						max-height: 35px;
					}
				}
			}

			@media (max-width: 576px) {
				&{
					height: auto;
					width: 100px;
					top: auto;
					bottom: 0;
					transform: translateY(0);
					padding: 0;
				}
			}

			@media (max-width: 992px) {
				&{
					height: auto;
					width: 200px;
					top: auto;
					bottom: 0;
					transform: translateY(0);
					padding: 0;
				}
			}
		}
	}

}

.grey-bg {
  background-color: #ccc;
}

.dark-blue-bg {
  background-color: #1a3a88;
  color: white;
}

.no-border{
	border-bottom:0px;	
}
.purple-border{
	border-bottom-color: #592a94;	
}
.green-border {
  border-bottom-color: #4b9e8d;
}

.pink-border {
  border-bottom-color: #a731b6;
}

.blue-border {
  border-bottom-color: #008fbc;
}

.grey-border {
  border-bottom-color: #ccc;
}
