body {
  overflow-x: hidden;
  will-change: all;
  transition: all 0.3s ease-in-out;


  img {
    max-width: 100%;
    max-height: 100%;
  }

  @media (max-width: 768px) {
    & {
      #page {
        padding-top: 70px;
      }
    }
  }

  @media (min-width: 992px) {
    &{
      padding-top:70px;
    }
  }
  
}

html {
  font-size: 16px;
  @media (max-width: 576px) {
    &{
      font-size: 13px;
    }
  }
  @media (max-width: 768px) {
    &{
      font-size: 14px;
    }
  }
}

.container {
  max-width: $max-width;
}

.no-pad {
  padding: 0 !important;
}
