/*
split-screen: home, our vision
two column 50%/50% text/image layout
alternates image/text, text/image, image/text,....
*/

.split-screen-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-split-screen-section {
  text-align: center;
}

.split-screen-item {
  width: 100%;
  padding: 1em;
  min-height: 375px;
  display: flex;
  justify-content: center;

  @media (min-width: 576px) {
    &{
      width: 50%;
      min-height: 355px;
    }
  }

  @media (min-width: 768px) {
    &{
      min-height: 405px;
    }
  }

  @media (min-width: 992px) {
    &{
      min-height: 505px;
      h2 {
        font-size: 4rem;
        padding-bottom: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
      .ghost-button {
        margin-top: 2em;
      }
    }
  }

  @media (min-width: 1200px) {
    &{
      height: 605px;
      h2 {
        font-size: 5rem;
        padding-bottom: 2rem;
      }
    }
  }

  @media (min-width: 1600px) {
    &{
      height: 100vh;
    }
  }
}

.split-screen-content {
  padding: 1em;
  align-self: center;

  img {
    width: 100%;
  }

  @media (min-width: 576px) {
    &{
      padding: 1em;
    }
  }

  @media (min-width: 768px) {
    &{
      padding: 2em;
    }
  }

  @media (min-width: 992px) {
    &{
      padding: 3em;
    }
  }

  @media (min-width: 1200px) {
    &{
      padding: 4em;
    }
  }

  @media (min-width: 1600px) {
    &{
      padding: 5em;
    }
  }
}

/* image panel:home */
.image-panel {
  background-size: cover;
  background-position: center;
}

.our-collection-image-panel {
  background-color: white;
}

.our-collection-content-panel {
  background-color: #008fbc;
  color: white;
}

.our-campaign-image-panel {
  background-image: url("../../img/women-smile-lg.jpg");
}

.our-campaign-content-panel {
  background-color: #1a3a88;
  color: white;
}

.our-history-image-panel {
  background-image: url("../../img/pearl-drops-history.jpg");
}

.our-history-content-panel {
  background-color: #4b9e8d;
  color: white;
}

.our-mission-image-panel {
  background-image: url("../../img/about-our-mission.jpg");
}

.our-mission-content-panel {
  background-color: #78a1bc;
  color: white;
}

.about-our-campaign-content-panel {
  background-color: white;
}

.our-campaign-image-panel-1 {
  background-image: url("../../img/women-smile-lg.jpg");
}

.our-campaign-image-panel-2 {
  background-image: url("../../img/women-smile-lg-2.jpg");
}

.about-our-campaign-content-panel {
  background-color: white;
}
