
@import 'variables';
@import 'fonts';
@import 'colours';
@import 'page';
@import 'default-text';
@import 'navigation';
@import 'buttons';
@import 'split-screen';
@import 'grid';
@import 'hero';
@import 'instagram';
@import 'footer';
@import 'our-collection';
@import 'cookie-notice';
@import 'carousel';
@import 'full-width-video';
@import 'where-to-buy';
@import 'contact-form';


.page-intro {
  padding-top: 7em;
  padding-bottom: 4em;
}

.page-intro-text {
  display: flex;
  align-items: center;
  /* align vertical */
}

/* our science chart block */
.chart-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  img {
    width: 100%;
    height: auto;
  }
}

/* dividers */
.small-divider-row {
  padding: 0 0 2em 0;
}
.small-divider-row hr {
  margin-top: 0;
  border-width: 4px;
}

.divider-row {
  padding: 4em 0;
}
.divider-row hr {
  border-width: 4px;
}

.jumbotron p.note {
  font-size: 0.75em;
}

.star {
  display: inline;
  padding-right: 0.15em;
  margin-bottom: 3px;
  max-height: 15px;
}

.full-range-zoom{
  padding:0;
}

