/* small screen laptops 1368 * 640 */
body {
  overflow-x: hidden;
}

.container {
  max-width: 1420px;
}

.no-pad {
  padding: 0 !important;
}

@font-face {
  font-family: bebas;
  src: url("../../fonts/BebasNeue_Regular.otf");
}
@font-face {
  font-family: "Bebas Neue Book";
  src: url("../../fonts/BebasNeueBook.woff2") format("woff2"), url("../../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeue-Thin.woff2") format("woff2"), url("../../fonts/BebasNeue-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeueBold.woff2") format("woff2"), url("../../fonts/BebasNeueBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeueRegular.woff2") format("woff2"), url("../../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../../fonts/BebasNeueLight.woff2") format("woff2"), url("../../fonts/BebasNeueLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
.white {
  color: #fff;
}

html {
  font-size: 16px;
}
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 13px;
  }
}

h1, h2, h3 {
  font-family: "Bebas Neue", sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

h1 {
  font-size: 5rem;
  font-weight: bold;
}

p {
  font-family: "source sans pro", sans-serif, sans-serif;
}

.xl-heading {
  font-size: 3rem;
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
}

.regular-p {
  font-size: 1.1rem;
}

.large-p {
  font-size: 1.3rem;
}

.light-text {
  font-weight: 300;
}

body img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: underline;
  color: black;
}
a:hover {
  cursor: pointer;
}

.navbar-nav {
  flex-direction: row;
}

.navbar .container {
  height: 100%;
}

.navbar-desktop {
  display: none;
}
@media (min-width: 992px) {
  .navbar-desktop {
    display: block;
    width: 100%;
    position: fixed;
    height: 70px;
    margin-top: -70px;
    z-index: 1900;
    color: black !important;
    background: white !important;
    box-shadow: 0px -2px 28px 5px rgba(0, 0, 0, 0.22);
  }
  .navbar-desktop .nav-link {
    margin-right: 1.5rem;
  }
  .navbar-desktop .last-nav-link {
    margin-right: 0;
  }
}
.navbar-desktop a {
  text-decoration: none;
}

@media (min-width: 1200px) {
  #home .navbar-desktop {
    margin-top: -70px;
  }
}
@media (min-width: 1600px) {
  #home .navbar-desktop {
    margin-top: 0px;
  }
}

.brand-logo {
  position: relative;
  top: 25px;
  max-height: 102px;
  z-index: 1100;
}

.mobile-menu {
  position: fixed;
  float: left;
  color: black;
  z-index: 2000;
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
}
@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}
.mobile-menu .unav {
  width: 100%;
  height: 0;
  background-color: #fff;
  display: flex;
  z-index: 2000;
  overflow: hidden;
  box-shadow: 0px -2px 28px 5px rgba(0, 0, 0, 0.22);
  transition-duration: 0.3s;
  position: relative;
}
.mobile-menu .unav .toggle-btn {
  position: absolute;
  cursor: pointer;
  right: 8px;
  top: 35.5px;
  transform: translateY(-50%);
}
.mobile-menu .unav .toggle-btn.show-menu {
  max-height: 30px;
}
.mobile-menu .unav .toggle-btn.close-menu {
  max-height: 40px;
}
.mobile-menu .unav nav {
  z-index: 2000;
  width: 100vw;
  min-height: 100%;
  height: auto;
  margin-top: 71px;
  transition-duration: 0.3s;
}
.mobile-menu .unav nav a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
.mobile-menu img.mobile-nav-logo {
  position: absolute;
  width: 55px;
  height: 55px;
  top: 8px;
  left: 10px;
}

body[data-mobile-menu=closed] .unav {
  height: 71px;
}
body[data-mobile-menu=closed] .unav .show-menu {
  display: block;
}
body[data-mobile-menu=closed] .unav .close-menu {
  display: none;
}
body[data-mobile-menu=closed] .unav nav {
  transform: translateX(100%);
}
body[data-mobile-menu=open] .mobile-menu {
  position: absolute;
}
body[data-mobile-menu=open] .unav {
  height: auto;
  min-height: 100%;
}
body[data-mobile-menu=open] .unav .show-menu {
  display: none;
}
body[data-mobile-menu=open] .unav .close-menu {
  display: block;
}
body[data-mobile-menu=open] .unav nav {
  transform: translateX(0px) !important;
}
body #page {
  display: block;
  width: 100%;
}
@media (max-width: 992px) {
  body[data-mobile-menu=open] #page {
    height: 0;
    overflow: hidden !important;
  }
}

.unav-item {
  width: 100%;
  height: 65px;
  padding-top: 20px;
  display: block;
  padding-left: 3rem;
}
.unav-item a {
  display: block;
}

.unav-dropdown {
  cursor: pointer;
  position: relative;
  padding: 25px 3rem;
}
.unav-dropdown a {
  transform: translateY(-3px);
}
.unav-dropdown:after {
  content: "";
  border: 7px solid transparent;
  border-left: 7px solid #fff;
  position: absolute;
  top: 25px;
  right: 3rem;
}
.unav-dropdown.is-active {
  height: auto;
}
.unav-dropdown.is-active:after {
  transform-origin: 25% 50%;
  transform: rotate(90deg);
}

.unav-dropdown-menu {
  display: none;
  background-color: #fff;
}
.unav-dropdown-menu a {
  display: block;
  transform: translateY(0);
}
.unav-dropdown-menu.is-active {
  display: block;
}

@media (min-width: 992px) {
  .unav nav {
    width: auto;
    position: relative;
    transform: none;
    padding: 0px;
    top: auto;
  }

  .unav-item {
    width: auto;
    height: 30px;
    min-height: 30px;
    line-height: 30px;
    display: inline-block;
    padding: 10px 15px;
  }

  .unav-dropdown {
    padding-right: 30px;
  }

  .unav-dropdown:after {
    top: 17px;
  }

  .unav-dropdown-menu {
    position: absolute;
    top: 60px;
    left: 0px;
    width: auto;
    min-width: 100px;
    padding: 5px 10px;
    border: 1px solid #1e1c23;
    border-top: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.indented-link {
  padding: 1rem 0;
  border-bottom: 1px solid white;
}
.indented-link a {
  padding-left: 0;
}
.indented-link:first-child {
  margin-top: 1rem;
  border-top: 1px solid white;
}

.sub-item {
  margin-left: 2em;
  font-weight: 100 !important;
}

.gray-blue-mobile-link {
  background-color: #78a1bc;
}

.green-mobile-link {
  background-color: #4b9e8d;
}

.dark-blue-mobile-link {
  background-color: #1a3a88;
  color: white;
}

.pink-mobile-link {
  background-color: #a731b6;
}

.gray-mobile-link {
  background-color: #78a1bc;
}

/* adds some margin below the link sets  */
.dropdown {
  margin: 0.5em 2em 0 1em;
}

.navbar-nav {
  height: 100%;
  line-height: 55px;
  margin: 0;
}

.navbar .dropdown-menu {
  border: none;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 0;
  border: 0;
  font-weight: 100;
  padding-bottom: 2em;
}
.navbar .dropdown-menu li {
  list-style-type: none;
}

.title-link {
  border-bottom: 1px solid gray;
  font-weight: 600;
  padding-bottom: 1em;
}

.dropdown-toggle.active {
  text-decoration: underline;
}

/* remove the padding from the navbar so the dropdown hover state is not broken */
.navbar {
  padding-top: 0px;
  padding-bottom: 0px;
}

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */
.navbar .nav-item {
  padding: 0.5rem 0.5rem;
  margin: 0 0.25rem;
}

/* makes the dropdown full width  */
.navbar .dropdown {
  position: static;
}

.navbar .dropdown-menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 68px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
.navbar .dropdown-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  box-shadow: 0px -2px 28px 5px rgba(0, 0, 0, 0.22);
}

/* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu,
.navbar .dropdown .dropdown-menu:hover {
  display: block !important;
}

.dropdown-links-container {
  min-width: 705px;
  padding-left: 1em;
}

.dropdown-pearldrops-links {
  display: inline-block;
  float: left;
  padding-left: 4rem;
  transform: translateX(-2px);
}
.dropdown-pearldrops-links:first-child {
  padding-left: 1rem !important;
}
@media (max-width: 1420px) {
  .dropdown-pearldrops-links:first-child {
    padding-left: 2rem !important;
  }
}
.dropdown-pearldrops-links ul {
  padding-left: 0;
}

.ghost-button {
  border: 1px solid #000;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: normal;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  min-width: 120px;
  transition: 0.3s;
  font-family: "source sans pro", sans-serif;
}
.ghost-button:hover {
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.ghost-button-white {
  color: #fff;
  border: 1px solid #fff;
}
.ghost-button-white:hover {
  background-color: #fff;
  color: #000;
}

.split-screen-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.home-split-screen-section {
  text-align: center;
}

.split-screen-item {
  width: 100%;
  padding: 1em;
  min-height: 375px;
  display: flex;
  justify-content: center;
}
@media (min-width: 576px) {
  .split-screen-item {
    width: 50%;
    min-height: 355px;
  }
}
@media (min-width: 768px) {
  .split-screen-item {
    min-height: 405px;
  }
}
@media (min-width: 992px) {
  .split-screen-item {
    min-height: 505px;
  }
  .split-screen-item h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
  }
  .split-screen-item p {
    font-size: 1.2rem;
  }
  .split-screen-item .ghost-button {
    margin-top: 2em;
  }
}
@media (min-width: 1200px) {
  .split-screen-item {
    height: 605px;
  }
  .split-screen-item h2 {
    font-size: 5rem;
    padding-bottom: 2rem;
  }
}
@media (min-width: 1600px) {
  .split-screen-item {
    height: 100vh;
  }
}

.split-screen-content {
  padding: 1em;
  align-self: center;
}
@media (min-width: 576px) {
  .split-screen-content {
    padding: 1em;
  }
}
@media (min-width: 768px) {
  .split-screen-content {
    padding: 2em;
  }
}
@media (min-width: 992px) {
  .split-screen-content {
    padding: 3em;
  }
}
@media (min-width: 1200px) {
  .split-screen-content {
    padding: 4em;
  }
}
@media (min-width: 1600px) {
  .split-screen-content {
    padding: 5em;
  }
}
.split-screen-content img {
  width: 100%;
}

.image-panel {
  background-size: cover;
  background-position: center;
}

.our-collection-image-panel {
  background-color: white;
}

.our-collection-content-panel {
  background-color: #008fbc;
  color: white;
}

.our-campaign-image-panel {
  background-image: url("../../img/women-smile-lg.jpg");
}

.our-campaign-content-panel {
  background-color: #1a3a88;
  color: white;
}

.our-history-image-panel {
  background-image: url("../../img/pearl-drops-history.jpg");
}

.our-history-content-panel {
  background-color: #4b9e8d;
  color: white;
}

.our-mission-image-panel {
  background-image: url("../../img/about-our-mission.jpg");
}

.our-mission-content-panel {
  background-color: #78a1bc;
  color: white;
}

.about-our-campaign-content-panel {
  background-color: white;
}

.our-campaign-image-panel-1 {
  background-image: url("../../img/women-smile-lg.jpg");
}

.our-campaign-image-panel-2 {
  background-image: url("../../img/women-smile-lg-2.jpg");
}

.about-our-campaign-content-panel {
  background-color: white;
}

.panel-grid-container {
  padding: 0 20px;
}
.panel-grid-container .flex-row, .panel-grid-container .flex-row-reverse {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.panel-item {
  color: white;
  min-height: 450px;
  position: relative;
  padding: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .panel-item {
    min-height: 325px;
    padding: 3.5em;
  }
}
@media (min-width: 768px) {
  .panel-item {
    min-height: 375px;
  }
}
@media (min-width: 992px) {
  .panel-item {
    min-height: 325px;
  }
}
@media (min-width: 1200px) {
  .panel-item {
    min-height: 375px;
  }
}
.date {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.5em;
  line-height: 1;
  font-family: oswald;
}

.panel-grid-science {
  margin-bottom: 5em;
}

.panel-grid-science .panel-item {
  display: block;
  padding-bottom: 3em;
}
.panel-grid-science .panel-item hr {
  border-color: white;
  border-width: medium;
}
.panel-grid-science .panel-item h3 {
  text-align: center;
  font-size: 2rem;
  padding-bottom: 1em;
}
.panel-grid-science .panel-item .quote {
  font-size: 1.5rem;
  font-weight: 100;
  text-align: center;
}
.panel-grid-science .panel-item .quote:before {
  content: '"';
}
.panel-grid-science .panel-item .quote:after {
  content: '"';
}

.history-item-1 {
  background-image: url("../../img/pearl-drops-history.jpg");
}

.history-item-2 {
  background-color: #a731b6;
}
.history-item-2:after {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 30px;
  z-index: 1800;
  border-top-color: #a731b6;
}
@media (min-width: 576px) {
  .history-item-2:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #a731b6;
  }
}
@media (min-width: 992px) {
  .history-item-2:after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-left-color: #a731b6;
    z-index: 1300;
  }
}

.history-item-3 {
  background-color: #008fbc;
}
@media (max-width: 576px) {
  .history-item-3:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #008fbc;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .history-item-3:after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-right-color: #008fbc;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .history-item-3:after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-right-color: #008fbc;
  }
}
@media (min-width: 992px) {
  .history-item-3:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #008fbc;
  }
}

.history-item-4 {
  background-color: black;
}
.history-item-4:after {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 30px;
  z-index: 1800;
  border-top-color: #000;
}
@media (min-width: 992px) {
  .history-item-4:after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-right-color: #000;
  }
}

.history-item-5 {
  background-image: url("../../img/history-advert.jpg");
}

.history-item-6 {
  background-color: #4b9e8d;
}
.history-item-6:after {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 30px;
  z-index: 1800;
  border-top-color: #4b9e8d;
}

.history-item-7 {
  background-color: #a731b6;
}
@media (max-width: 576px) {
  .history-item-7:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #a731b6;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .history-item-7:after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-right-color: #a731b6;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .history-item-7:after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-right-color: #a731b6;
  }
}
@media (min-width: 992px) {
  .history-item-7:after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-left-color: #a731b6;
  }
}

.history-item-8 {
  background-color: #008fbc;
}
@media (max-width: 992px) {
  .history-item-8:after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    z-index: 1800;
    border-top-color: #008fbc;
  }
}
@media (min-width: 992px) {
  .history-item-8:after {
    top: 50%;
    right: auto;
    bottom: auto;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-left-color: #008fbc;
  }
}

.history-item-9 {
  background-image: url("../../img/wedding.jpg");
}

.history-item-10 {
  background-color: #000;
}
.history-item-10:after {
  top: 100%;
  right: auto;
  bottom: auto;
  left: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 30px;
  z-index: 1800;
  border-top-color: #000;
}
@media (min-width: 992px) {
  .history-item-10:after {
    top: 50%;
    right: 100%;
    bottom: auto;
    left: auto;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 30px;
    margin-top: -30px;
    z-index: 1800;
    border-right-color: #000;
  }
}

.history-item-11 {
  background-image: url("../../img/small-smile.jpg");
}

.history-item-12 {
  background-color: #78a1bc;
}

.science-panel-1 {
  background-color: #000;
}

.science-panel-2 {
  background-color: #008fbc;
  background-image: url("../../img/charcoal.jpg");
}

.science-panel-3 {
  background-color: #008fbc;
}

.science-panel-4 {
  background-color: #1a3a88;
}

.science-panel-5 {
  background-color: #a731b6;
}

.science-panel-6 {
  background-image: url("../../img/water.jpg");
}

.science-panel-7 {
  background-image: url("../../img/perlite.jpg");
}

.science-panel-8 {
  background-color: #4b9e8d;
}

.science-panel-9 {
  background-color: #78a1bc;
}

.page-intro {
  padding-top: 7em;
  padding-bottom: 4em;
}

.page-intro-text {
  display: flex;
  align-items: center;
  /* align vertical */
}

.hero {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}
@media (min-width: 576px) {
  .hero {
    height: 80vh;
    display: flex;
    align-items: flex-start;
  }
}

.about-hero {
  background-image: url("../../img/about-mobile.jpg");
}
@media (min-width: 576px) {
  .about-hero {
    background-image: url("../../img/about-desktop.jpg");
    background-position: bottom center;
  }
}

.science-hero {
  background-image: url("../../img/this-is-innovation-lg.jpg");
  background-position: bottom center;
}

.history-hero {
  background-image: url("../../img/our-history.jpg");
  background-position: bottom center;
  margin-bottom: 4rem;
}

.hero-content-container {
  width: 100%;
  padding-top: 10em;
  display: block;
  margin: 0 auto;
}
.hero-content-container h1 {
  margin-bottom: 0.5em;
}
@media (max-height: 480px) {
  .hero-content-container h1 {
    margin-bottom: 0.5rem;
  }
}
.hero-content-container p {
  font-size: 1.5rem;
  text-shadow: 0px 0px 15px white;
}
@media (max-height: 480px) {
  .hero-content-container p {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) {
  .hero-content-container {
    text-shadow: none;
    margin: 0;
    padding-top: 0;
    padding-left: 5%;
    align-self: center;
    width: 510px;
  }
  .hero-content-container p {
    font-size: 1.25rem;
    text-shadow: none;
  }
}
@media (max-height: 600px) {
  .hero-content-container {
    padding-top: 2em;
  }
}

#our-science .hero-content-container {
  position: absolute;
  top: 10em;
  padding: 3em;
}
@media (min-width: 576px) {
  #our-science .hero-content-container {
    top: 8em;
    background: none;
  }
}
@media (min-width: 768px) {
  #our-science .hero-content-container {
    top: 3em;
    background: none;
  }
}
@media (min-width: 992px) {
  #our-science .hero-content-container {
    top: 5em;
    background: none;
  }
}

#vision .hero-content-container {
  position: absolute;
  top: 10em;
  padding: 3em;
}
@media (min-width: 576px) {
  #vision .hero-content-container {
    top: 8em;
    background: none;
  }
}
@media (min-width: 768px) {
  #vision .hero-content-container {
    top: 3em;
    background: none;
  }
}
@media (min-width: 992px) {
  #vision .hero-content-container {
    top: 5em;
    background: none;
  }
}

.white-bg-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1.5em 1em 1em 1em;
  margin: 1rem;
}
@media (min-width: 768px) {
  .white-bg-container {
    background: none;
  }
}

.blue-full-width-container {
  background-color: #78a1bc;
  color: white;
}

.chart-parts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
}
.chart-parts img {
  width: 100%;
  height: auto;
}

.social-section {
  background-color: #008fbc;
  color: white;
}
.social-section p {
  font-size: 1.3em;
  padding-bottom: 1.5em;
}
.social-section h2 {
  font-size: 4em;
}

.social-link-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
}

.social-link {
  display: inline;
  margin: 0 0.5em;
  text-decoration: none;
}
.social-link:hover {
  text-decoration: none;
}

.terms-section {
  width: 100%;
  font-size: 0.8em;
  display: block;
  text-align: center;
  padding: 0 2rem 2rem 2rem;
}
.terms-section a {
  display: inline-block;
}
.terms-section .copyright {
  width: 100%;
  display: inline-block;
  padding: 1rem 2rem 0 1rem;
}

.small-divider-row {
  padding: 0 0 2em 0;
}
.small-divider-row hr {
  margin-top: 0;
  border-width: 4px;
}

.divider-row {
  padding: 4em 0;
}
.divider-row hr {
  border-width: 4px;
}

.rectangular-tile {
  padding: 1.5em;
}

.grey-bg {
  background-color: #ccc;
}

.dark-blue-bg {
  background-color: #1a3a88;
  color: white;
}

.cookie-table {
  border: 1px #000 solid;
  margin-bottom: 2rem;
}
.cookie-table tr th, .cookie-table tr td {
  padding: 1rem;
  border: 1px #000 solid;
}

.jumbotron p.note {
  font-size: 0.75em;
}

.collection-item-container {
  border-bottom: 2.5em solid;
  padding-top: 7em;
  padding-bottom: 2em;
  max-width: 1920vw !important;
  overflow-x: hidden;
}

.review-container {
  display: inline;
}

.green-border {
  border-bottom-color: #4b9e8d;
}

.pink-border {
  border-bottom-color: #a731b6;
}

.blue-border {
  border-bottom-color: #008fbc;
}

.grey-border {
  border-bottom-color: #ccc;
}

.last-collection-item {
  border-bottom: 0;
}

.page-intro-container-collection {
  border-bottom: 2.5em solid #1a3a88;
  padding-bottom: 3em;
  max-width: 1920vw !important;
}
.page-intro-container-collection .packs-group {
  padding: 2rem;
}

.label-heading {
  font-family: "source sans pro", sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1rem;
}

.collection-item-title {
  font-size: 2.75rem;
}

.collection-product {
  display: block;
  margin: 0 auto;
  max-height: 400px;
  margin-bottom: 5em;
}
@media (min-width: 768px) {
  .collection-product {
    max-height: 640px;
    margin-bottom: none;
  }
}

.star {
  display: inline;
  padding-right: 0.15em;
  margin-bottom: 3px;
  max-height: 15px;
}

.collection-social-link {
  padding-right: 0.25rem;
  text-decoration: none;
}
.collection-social-link:hover {
  text-decoration: none;
}

.buy-group {
  position: relative;
  margin: 5rem 0;
}
.buy-group a.ghost-button {
  float: left;
}
.buy-group .popup-menu-wrap {
  float: left;
  position: relative;
  will-change: all;
  transition: all 0.3s ease-in-out;
  transform: translateX(100px);
  height: 3rem;
  opacity: 0;
}
.buy-group .popup-menu-wrap .popup-menu {
  margin-left: 26px;
  position: absolute;
  left: 0;
  top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  box-sizing: border-box;
  transform: translateY(-50%);
  background-color: #FFFFFF;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}
@media (max-width: 992px) {
  .buy-group .popup-menu-wrap .popup-menu {
    height: auto;
    width: 200px;
    top: auto;
    bottom: 0;
    transform: translateY(0);
    padding: 0;
  }
}
@media (max-width: 576px) {
  .buy-group .popup-menu-wrap .popup-menu {
    height: auto;
    width: 100px;
    top: auto;
    bottom: 0;
    transform: translateY(0);
    padding: 0;
  }
}
.buy-group .popup-menu-wrap .popup-menu .logo-wrap {
  float: left;
  padding: 1rem;
  width: 100px;
  height: 60px;
  box-sizing: border-box;
  text-align: center;
}
.buy-group .popup-menu-wrap .popup-menu .logo-wrap img {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.buy-group .popup-menu-wrap .popup-menu .logo-wrap img.mh {
  width: auto;
  height: 100%;
  max-height: 35px;
}
.buy-group.enabled .popup-menu-wrap {
  transform: translateX(0);
  opacity: 1;
}

.carousel-control-next, .carousel-control-prev {
  width: 7%;
}

.carousel-item {
  height: 75vh;
  /* min-height:800px; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  .carousel-item {
    height: 90vh;
  }
}
@media (max-width: 768px) {
  .carousel-item {
    height: calc(100vh-100px);
  }
}
@media (min-width: 1600px) {
  .carousel-item {
    height: 100vh;
  }
}
.carousel-item img.fifty {
  width: 64px;
  height: auto;
  position: absolute;
  z-index: 1;
  top: 0px;
  right: 20px;
}
@media (min-width: 480px) {
  .carousel-item img.fifty {
    width: 128px;
  }
}
@media (min-width: 768px) {
  .carousel-item img.fifty {
    top: 72px;
  }
}
@media (min-width: 992px) {
  .carousel-item img.fifty {
    top: 0px;
    width: 170px;
  }
}
@media (min-aspect-ratio: 1000/640) and (min-width: 768px) and (max-width: 1368px) {
  .carousel-item img.fifty {
    width: 80px;
  }
}

.carousel-content-container {
  width: 50%;
  height: 100%;
  padding: 2rem 0 2rem 8rem;
  z-index: 1100;
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .carousel-content-container {
    width: 50%;
    padding-left: 2rem;
  }
}
@media (max-width: 768px) {
  .carousel-content-container {
    width: 80%;
    padding-top: 8em;
    padding-right: 2rem;
    height: auto;
    display: block;
    margin: 0 auto;
    float: none;
  }
}
@media (max-width: 576px) {
  .carousel-content-container {
    width: 100%;
    padding-top: 8rem;
    padding-right: 2rem;
  }
}
@media (max-width: 576px) and (max-height: 600px) {
  .carousel-content-container {
    padding-top: 2rem;
  }
}

.carousel-content p {
  width: 80%;
}
@media (max-width: 576px) and (max-height: 600px) {
  .carousel-content p {
    width: 100%;
  }
}
.carousel-image-container {
  width: 50%;
  height: 100%;
  float: left;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .carousel-image-container {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .carousel-image-container {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: auto;
    float: none;
  }
}
.carousel-image-container img {
  width: 100%;
}

.all-products-item {
  background-color: white;
}

.carousel-indicators li {
  background-color: #008fbc;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.carousel-indicators li.active {
  background-color: #1a3a88;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008fbc' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008fbc' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.this-is-real-item {
  background-image: url("../../img/women-smile-lg.jpg");
  background-position: 50% 0%;
}
.this-is-real-item p {
  padding-left: 15px;
}
@media (max-width: 768px) {
  .this-is-real-item {
    background-image: url("../../img/women-smile-tall.jpg");
  }
  .this-is-real-item .carousel-content-container {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 768px) and (max-height: 600px) {
  .this-is-real-item .carousel-content-container {
    bottom: auto;
    top: 2rem;
  }
  .this-is-real-item .carousel-content-container .carousel-content p {
    width: 90%;
  }
}
.this-is-real-item img {
  height: 200px;
  /*
  @include min-aspect-ratio(1200,640) {
      height:100px;
  }
  */
}
@media (max-width: 1200px) {
  .this-is-real-item img {
    height: 150px;
  }
}
@media (max-height: 480px) {
  .this-is-real-item img {
    height: 100px;
  }
}
@media (min-aspect-ratio: 1000/640) and (min-width: 768px) {
  .this-is-real-item img {
    height: 100px;
  }
}

.this-is-innovation-item {
  background-color: #dce4e6;
  background-size: contain !important;
  background-position: right bottom !important;
  background-image: url("../../img/this-is-innovation-lg.jpg");
}

.carousel-title {
  font-size: 5.5em;
  font-weight: bold;
  padding-bottom: 0.25em;
}
@media (min-aspect-ratio: 1200/640) {
  .carousel-title {
    font-size: 4em;
  }
}
@media (max-width: 992px) {
  .carousel-title {
    font-size: 3.5em;
  }
}

.carousel-item p {
  font-size: 1.4em;
}
@media (min-aspect-ratio: 1200/640) {
  .carousel-item p {
    font-size: 1.2em;
  }
}
.carousel-item p:last-of-type {
  padding-bottom: 1.25em;
}
@media (max-height: 600px) {
  .carousel-item p {
    font-size: 1.3rem;
  }
}

.full-width-video {
  background-image: url("../../img/video-placeholder.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 350px;
}
.full-width-video:hover {
  cursor: pointer;
}
@media (min-width: 576px) {
  .full-width-video {
    min-height: 355px;
  }
}
@media (min-width: 768px) {
  .full-width-video {
    min-height: 405px;
  }
}
@media (min-width: 992px) {
  .full-width-video {
    min-height: 505px;
  }
}
@media (min-width: 1200px) {
  .full-width-video {
    height: 605px;
  }
}
@media (min-width: 1600px) {
  .full-width-video {
    height: 100vh;
  }
}

.full-width-video:after {
  content: "";
  background: linear-gradient(to top, #404040 0%, black 100%);
  position: absolute;
  z-index: 1600;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}

.full-width-video:hover::after {
  opacity: 0.4;
}

.where-to-buy-row {
  margin-bottom: 3em;
}
.where-to-buy-row .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 170px;
  text-align: center;
}

.where-to-buy-image {
  display: block;
  padding: 2em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .left-aligned-logo {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }
}

@media (min-width: 768px) {
  .right-aligned-logo {
    margin-right: 0;
    margin-left: 0;
    float: right;
  }
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
@media (min-width: 576px) {
  .embed-container {
    padding-bottom: 56.25%;
  }
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cookie-disclaimer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #000;
  color: #fff;
  z-index: 3000;
  text-align: center;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  will-change: all;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  orphans: 3;
  widows: 3;
  transform: translateY(-100%);
}
.cookie-disclaimer div.mid {
  position: absolute;
  left: 30px;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .cookie-disclaimer {
    font-size: 13px;
    line-height: 16px;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .cookie-disclaimer {
    font-size: 11px;
    line-height: 14px;
    height: 80px;
  }
}
.cookie-disclaimer a {
  color: #fff;
  text-decoration: underline;
}
.cookie-disclaimer .btn-close {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  transform: translateY(-50%);
}
.cookie-disclaimer .btn-close line {
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

body {
  will-change: all;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}
@media (max-width: 768px) {
  body #page {
    padding-top: 70px;
  }
}

body[data-disclaimer=true] {
  padding-top: 60px;
}
body[data-disclaimer=true] .cookie-disclaimer {
  transform: translateY(0);
}
@media (min-width: 992px) {
  body[data-disclaimer=true] {
    padding-top: 130px;
  }
}
@media (max-width: 768px) {
  body[data-disclaimer=true] {
    padding-top: 70px;
  }
}
@media (max-width: 576px) {
  body[data-disclaimer=true] {
    padding-top: 80px;
  }
}

/* Start of Instagram block */
.instagram .block {
  position: relative;
  display: block;
}
.instagram .block[data-show="1"] .gram[data-id="1"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="2"] .gram[data-id="2"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="3"] .gram[data-id="3"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="4"] .gram[data-id="4"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="5"] .gram[data-id="5"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="6"] .gram[data-id="6"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="7"] .gram[data-id="7"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="8"] .gram[data-id="8"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="9"] .gram[data-id="9"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="10"] .gram[data-id="10"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="11"] .gram[data-id="11"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="12"] .gram[data-id="12"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="13"] .gram[data-id="13"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="14"] .gram[data-id="14"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="15"] .gram[data-id="15"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="16"] .gram[data-id="16"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="17"] .gram[data-id="17"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="18"] .gram[data-id="18"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="19"] .gram[data-id="19"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block[data-show="20"] .gram[data-id="20"] {
  opacity: 1;
  z-index: 100;
}
.instagram .block .shim {
  float: left;
  width: 100%;
}
.instagram .block .gram {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  z-index: 1;
  will-change: opacity;
  transition: opacity 1s ease-in-out;
}
.instagram .block .gram a {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.instagram .block .gram img.ig {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  will-change: all;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}
.instagram .block .gram img.btn-play {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 51px;
  height: 36px;
  will-change: all;
  transition: all 0.1s ease-in-out;
  z-index: 2;
}
.instagram .block .gram:hover img.ig {
  transform: scale(1.2);
}

/* End of Instagram block */
/* Start of support/contact block */
.form {
  width: 100%;
  padding-bottom: 3rem;
}
.form .intro {
  width: 100%;
  display: flex;
  padding-bottom: 2rem;
}
.form .intro p {
  font-weight: bold;
}
.form .intro p.col1 {
  width: 40%;
  font-weight: bold;
  padding-right: 1rem;
}
.form .intro p.col2 {
  width: 60%;
}
@media (max-width: 768px) {
  .form {
    padding: 0.5rem0 2rem 2rem 2rem;
  }
  .form .intro {
    display: inline-block;
  }
  .form .intro p.col1, .form .intro p.col2 {
    width: 100%;
    margin-bottom: 2rem;
  }
}
.form .response {
  font-weight: bold;
  font-size: 2rem;
}
.form .formRow {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
.form .formRow label {
  width: 40%;
  color: #008fbc;
  text-align: left;
  padding: 0.5rem 0;
}
@media (max-width: 768px) {
  .form .formRow label {
    width: 100%;
  }
}
.form .formRow .input {
  width: 60%;
  border: 1px #008fbc solid;
  padding: 0.5rem 1rem;
  color: #008fbc;
}
.form .formRow .input.short {
  width: 200px;
}
@media (max-width: 768px) {
  .form .formRow .input {
    width: 100%;
  }
}
.form .formRow .error {
  color: #008fbc;
  width: 100%;
  padding-left: 40%;
  margin-top: 0.5rem;
  text-align: left;
}
@media (max-width: 768px) {
  .form .formRow .error {
    padding-left: 0;
  }
}
.form .formRow textarea {
  resize: none;
}
.form .formRow.buttonRow {
  justify-content: flex-end;
}
.form .formRow.buttonRow .btn {
  color: #008fbc;
  border-color: #008fbc;
  background-color: transparent;
  cursor: pointer;
  border-radius: 0;
}
.form .formRow.buttonRow .btn:hover {
  background-color: #008fbc;
  color: #fff;
}

/* end of support/contact block */