.where-to-buy-row {
  margin-bottom: 3em;
}
.where-to-buy-row .col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 170px;
  text-align: center;
}

.where-to-buy-image {
  display: block;
  padding: 2em;
  margin: 0 auto;
}
