.cookie-disclaimer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 60px;
  background-color: #000;
  color: #fff;
  z-index: 3000;
  text-align: center;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  will-change: all;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  orphans: 3;
  widows: 3;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.cookie-disclaimer div.mid {
  position: absolute;
  left: 30px;
  right: 90px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cookie-disclaimer a {
  color: #fff;
  text-decoration: underline;
}
.cookie-disclaimer .btn-close {
  position: absolute;
  top: 50%;
  right: 40px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.cookie-disclaimer .btn-close line {
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}
@media (max-width: 768px) {
  .cookie-disclaimer {
    font-size: 13px;
    line-height: 16px;
    height: 70px;
  }
}
@media (max-width: 576px) {
  .cookie-disclaimer {
    font-size: 11px;
    line-height: 14px;
    height: 80px;
  }
}

body {
  will-change: all;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 768px) {
  body #page {
    padding-top: 70px;
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 70px;
  }
}

body[data-disclaimer=true] {
  padding-top: 60px;
}
body[data-disclaimer=true] .cookie-disclaimer {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
@media (min-width: 992px) {
  body[data-disclaimer=true] {
    padding-top: 130px;
  }
}
@media (max-width: 768px) {
  body[data-disclaimer=true] {
    padding-top: 70px;
  }
}
@media (max-width: 576px) {
  body[data-disclaimer=true] {
    padding-top: 80px;
  }
}