/*
footer
*/
/*
footer social media icons
*/
.social-link-container {
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
}

.social-link {
  display: inline;
  margin: 0 0.5em;
  text-decoration: none;
}
.social-link:hover {
  text-decoration: none;
}