.full-width-video {
  background-image: url("../../img/video-placeholder.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 350px;
}
.full-width-video:after {
  content: "";
  background: -webkit-gradient(linear, left bottom, left top, from(#404040), to(black));
  background: linear-gradient(to top, #404040 0%, black 100%);
  position: absolute;
  z-index: 1600;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.full-width-video:hover {
  cursor: pointer;
}
.full-width-video:hover:after {
  opacity: 0.4;
}
@media (min-width: 576px) {
  .full-width-video {
    min-height: 355px;
  }
}
@media (min-width: 768px) {
  .full-width-video {
    min-height: 405px;
  }
}
@media (min-width: 992px) {
  .full-width-video {
    min-height: 505px;
  }
}
@media (min-width: 1200px) {
  .full-width-video {
    height: 605px;
  }
}
@media (min-width: 1600px) {
  .full-width-video {
    height: 100vh;
  }
}