/*
home page
*/
.this-is-real-item {
  background-image: url("../../img/women-smile-lg.jpg");
  background-position: 50% 0%;
}
.this-is-real-item p {
  padding-left: 15px;
}
.this-is-real-item img {
  height: 200px;
  /*
  @include min-aspect-ratio(1200,640) {
  	height:100px;
  }
  */
}
@media (max-width: 1200px) {
  .this-is-real-item img {
    height: 150px;
  }
}
@media (max-height: 480px) {
  .this-is-real-item img {
    height: 100px;
  }
}
@media (min-aspect-ratio: 1000/640) and (min-width: 768px) {
  .this-is-real-item img {
    height: 100px;
  }
}
@media (max-width: 768px) {
  .this-is-real-item {
    background-image: url("../../img/women-smile-tall.jpg");
  }
  .this-is-real-item .carousel-content-container {
    position: absolute;
    bottom: 0;
  }
}
@media (max-width: 768px) and (max-width: 768px) and (max-height: 600px) {
  .this-is-real-item .carousel-content-container {
    bottom: auto;
    top: 2rem;
  }
  .this-is-real-item .carousel-content-container .carousel-content p {
    width: 90%;
  }
}

.this-is-innovation-item {
  background-color: #dce4e6;
  background-size: contain !important;
  background-position: right bottom !important;
  background-image: url("../../img/this-is-innovation-lg.jpg");
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 576px) {
  .embed-container {
    padding-bottom: 56.25%;
  }
}