.where-to-buy-row {
  margin-bottom: 3em;
}
.where-to-buy-row .col-md-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 170px;
  text-align: center;
}

.where-to-buy-image {
  display: block;
  padding: 2em;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .left-aligned-logo {
    margin-right: 0;
    margin-left: 0;
    float: left;
  }
}
@media (min-width: 768px) {
  .right-aligned-logo {
    margin-right: 0;
    margin-left: 0;
    float: right;
  }
}